# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.asset
*.bin
*.dll
*.suo
Library/metadata/00/00000000000000001000000000000000
Library/metadata/5f/5f32cd94baa94578a686d4b9d6b660f7
*.info
Library/metadata/00/00000000000000002000000000000000
Library/metadata/00/00000000000000004100000000000000
Library/metadata/00/0000000000000000b000000000000000
Library/metadata/00/0000000000000000a000000000000000
Library/metadata/06/06b399d63ef8f8148a47191d9d6c71b0
Library/metadata/fe/feb2cb85bac72594886d86f70b5e5edb
Library/metadata/00/00000000000000003000000000000000
